<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040385740187-pk977eddej4rkml7spbdujbrlgt91nem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040385740187-pk977eddej4rkml7spbdujbrlgt91nem</string>
	<key>API_KEY</key>
	<string>AIzaSyC7a_NJzEPpDGrE58K_VezEwBM9bWZJQqY</string>
	<key>GCM_SENDER_ID</key>
	<string>1040385740187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iplayulisten.app</string>
	<key>PROJECT_ID</key>
	<string>iplayulisten-5777a</string>
	<key>STORAGE_BUCKET</key>
	<string>iplayulisten-5777a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040385740187:ios:3e62df4eed29d4e66c653e</string>
	<key>DATABASE_URL</key>
	<string>https://iplayulisten-5777a.firebaseio.com</string>
</dict>
</plist>